// Con Sass podemos definir variables aplicables a todo el documento
$primary-color: orange;
$secondary-color: darkblue;
$tertiary-color: rgb(110, 20, 70);
$topPage-color: blueviolet;
$primary-font: Verdana, Geneva, Tahoma, sans-serif;